{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="{% static 'favicon.ico' %}" />
    <title>정원사들 시즌6 - 출석부</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script src="{% static "js/common.js" %}"></script>
    <link href="{% static "css/common.css" %}" rel="stylesheet">

    {% include 'attendance/google_analytics.html' %}

</head>
<body>
<header>
    {% include 'header.html' %}
</header>

<main role="main" class="flex-shrink-0">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer mt-auto py-3">
    {% include 'footer.html' %}
</footer>

</body>
</html>